:root {
  --fade-duration: 1s;
}

@font-face {
    font-family: 'Rodin Bokutoh EB';
    src: url('../fonts/FOT-RodinBokutohProEB.otf');
}

.page{
    width: 100vw;
    height: 100vh;
    font-family: 'Rodin Bokutoh EB', sans-serif;
    color: #74664b;
    background-color: black;
    z-index: -9999;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.emote{
  height: 1.53em;
  vertical-align: middle;
}

.message__container{
  background: transparent;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 60%;
  margin: 0;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  transition: opacity var(--fade-duration) ease;
}

.message__blob{
  background: #fdf8e3;
  border-radius: 80% 80% 30% 30% / 150% 150% 150% 150%;
  min-height: 150px;
  width: 100%;
  animation: blob 2s ease-in-out infinite alternate;
  position: relative;
  margin: 0;
}

.message__blob_under{
  background: #fdf8e3;
  border-radius: 80% 80% 30% 30% / 150% 150% 150% 150%;
  width: 100%;
  height: 60%;
  animation: blob 2s ease-in-out infinite alternate;
  transform: translateY(0px);
  position: absolute;
  bottom: 0;
  z-index: -1;
  margin: 0;
}

.message__user{
  color:  #c1ac23;
  font-weight: 100;
  font-size: 20px;
  padding: 0.25rem 1rem;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 1rem;
  z-index: 1;
  align-self: flex-start;
  position: absolute;
  transform: rotate(-5deg) translateY(-30px) translateX(20px);
  flex: 0 0 auto;
  width: auto;
}

.message__content {
  font-size: 1.5rem;
  color: #807256;
  line-height: 1.5;
  padding: 50px;
  text-align: center;
}

.bounce {
    animation: bounce 0.3s ease;
}

.scale {
    animation: scale 0.3s ease;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    30% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}


@keyframes scale {
    0% {scale: 0;}
    25% {scale: 0.5;}
    50% {scale: 1.2;}
    80% {scale: 0.9;}
    100% {scale: 1;}

}

@keyframes blob {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98) rotate(0.3deg);
  }
}

.fade-out {
  opacity: 0;
}