@font-face {
    font-family: 'Rodin Bokutoh EB';
    src: url('../fonts/FOT-RodinBokutohProEB.otf');
}

.page{
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Rodin Bokutoh EB', sans-serif;
    color: #74664b;
    background-color: black;
}

.textbox{
    width: 1000px;
    height: 1000px;
}

.message__container{
  background: transparent;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 60%;
  margin: 0;
  position: relative;
  display:flex;
  flex-direction: column;
}

.message__user{
  background: #e5ed4b;
  color:  #c1ac23;
  font-weight: 100;
  font-size: 20px;
  padding: 0.25rem 1rem;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 1rem;
  z-index: 1;
  align-self: flex-start;
  position: absolute;
  transform: rotate(-5deg) translateY(-20px) translateX(20px);
  flex: 0 0 auto;
  width: auto;
}

.message__content{
  font-size: 1.5rem;
  color: #807256;
  line-height: 1.5;
  padding: 50px;
  z-index: 999;
  position: absolute;
  align-self: center;
}

.message__blobs{
}

.blob-top {
  background: #fdf8e3;
  border-radius: 80% 80% 30% 30% / 150% 150% 150% 150%;
  min-height: 150px;
  animation: blob 2s ease-in-out infinite alternate;
}

.blob-bottom {
  margin-top: -30px;
  background: #fdf8e3;
  border-radius: 5% 5% 20% 20% / 100% 100% 100% 100%;
  height: 60px;
  animation: blob 1.5s ease-in-out infinite alternate;
}

.bounce {
    animation: bounce 0.3s ease;
}

.scale {
    animation: scale 0.3s ease;
}

@keyframes bounce {
    0% {transform: translateY(0);}
    30% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}


@keyframes scale {
    0% {scale: 0;}
    25% {scale: 0.5;}
    50% {scale: 1.2;}
    80% {scale: 0.9;}
    100% {scale: 1;}

}

@keyframes blob {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.98) rotate(0.3deg);
  }
}